<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="/css/style.css">
<head>
    <title>🌲 Enter Numbers 🌲</title>
</head>
<body>
<h1>Binary Search Tree (BST) Generator 🌳</h1>
<hr />

<form action="/process-nums" method="post">
    <p>Welcome to the BST Generator! On this page you can generate a tree by typing in a number sequence!</p>
    <label for="nums">Enter numbers (separate by spaces):</label><br>
    <input type="text" id="nums" name="nums" required><br>
    <button type="submit">Reveal Tree</button>
</form>
<form action="/prev-trees" method="get">
    <button type="submit">View Previous Trees</button>
</form>
<hr />
<p>Cameron Beanland</p>
<p>JBeanPIU</p>
</body>
</html>